.data-entry-header-text {
  margin-top: 15vh;
  font-size: 3rem;
}

.input-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-section-hourly {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.data-entry-form {
  font-family: NeueMontreal, Helvetica Neue, Helvetica, Arial, "sans-serif";
  font-weight: 500;
  color: #fffffe;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 15px;
}
.form-input-date,
.form-input-department,
.form-input-shift {
  font-family: NeueMontreal, Helvetica Neue, Helvetica, Arial, "sans-serif";
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: left;
  border-radius: 8px;
  mix-blend-mode: darken;
  padding: 20px 0;
  height: 35px;
  transition: 0.5s;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.App__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}
.form-input-shift-label,
.form-input-department-label,
.form-input-date-label {
  font-size: 1.25rem;
}
.input-goal,
.input-produced,
.input-downtime,
.input-reason {
  font-family: NeueMontreal, Helvetica Neue, Helvetica, Arial, "sans-serif";
  margin: 5px;
  text-align: center;
  background-color: ;
  text-align: center;
  border: none;
  border-radius: 8px;
  mix-blend-mode: darken;
  font-size: 1.25rem;
  height: 35px;
  width: 25%;
  transition: 0.5s;
}

div.table-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 2px;
  padding-right: 2px;
  margin: 5px;
  font-size: 10px;
}
h3 {
  margin: 0;
}
.goal-header,
.produced-header {
  margin-left: 10px;
}
.hour-label {
  margin-top: 8px;
}

.summary-button {
  display: flex;
  justify-content: space-around;
}

.submit-button,
.cancel-button {
  margin: 15px;
  font-size: 1.25rem;
  width: 50%;
  height: 49px;
  padding: 13px 29px;
  text-align: center;
  background-color: #fdb515;
  border: 1px solid #fdb515;
  font-weight: 500;
  color: #0a1b28;
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.submit-button:hover,
.cancel-button:hover {
  background-color: #0a1b28;
  border: 1px solid #fdb515;
  font-weight: 500;
  color: #fffffe;
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
}

@media (min-width: 768px) {
  div.table-headers {
    display: flex;
    justify-content: space-around;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    font-size: 1rem;
  }
  .reason-header {
    margin-right: 15px;
  }

  div.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  div.form-section-hourly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-input-date,
  .form-input-department,
  .form-input-shift {
    width: 25%;
  }
  .summary-header {
    font-size: 1.5rem;
  }
  .summary-button {
    display: flex;
    justify-content: space-around;
  }
  .submit-button,
  .cancel-button {
    width: 30vh;
  }
  .produced-sum,
  .downtime-sum,
  .eff-calc {
    font-size: 1.25rem;
  }
}
