.data-summary {
  padding-top: 10%;
}
.data-item {
  display: flex;
  flex-direction: column;
}

.todataentry-summ {
  margin-top: 15px;
  font-size: 1rem;
  width: 193.48px;
  height: 49px;
  padding: 13px 29px;
  text-align: center;
  background-color: #fdb515;
  border: 1px solid #fdb515;
  font-weight: 500;
  color: #0a1b28;
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.todataentry-summ:hover {
  background-color: #0a1b28;
  border: 1px solid #fdb515;
  font-weight: 500;
  color: #fffffe;
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
}
p.date {
  padding-bottom: 5px;
  margin-left: 3px;
}
@media (min-width: 768px) {
  p.date {
    padding-bottom: 5px;
    margin-left: 10px;
  }
  .data-summary {
    padding-top: 10vh;
  }
}
