* {
  box-sizing: border-box;
}

nav {
  padding: 1% 0;
  background-color: #0a1b2b;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.App__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}
footer {
  color: #fffffe;
  font-family: NeueMontreal, Helvetica Neue, Helvetica, Arial, "sans-serif";
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a1b2b;
  font-size: 10px;
}
.credit-icons > p {
  font-size: 8px;
  margin: 0;
  color: #fffffe;
}

a {
  text-decoration: none;
  color: #fffffe;
}
.credit-icons {
  text-decoration: none;
  color: #fffffe;
  cursor: pointer;
}
::selection {
  background-color: #fdb515;
  color: #0a1b2b;
}
