.daily-summary {
  display: flex;
  border: 1px solid #f2a516;
  border-radius: 8px;
  margin: 5px;
  font-size: 1rem;
  color: #fffffe;
}
p.department,
p.goal,
p.produced,
p.downtime,
p.efficiency {
  margin: 0.125rem;
  font-size: 0.7rem;
}

.date {
  position: absolute;
  margin: 2rem;
}
.delete-data-button {
  font-size: 10px;
  height: 20px;
  width: 20px;
}
.delete-data-button {
  color: #f27d72;
}
.edit-data-button {
  color: #34bf98;
}
@media (min-width: 768px) {
  .date {
    position: absolute;
    font-size: 1rem;
    margin: 3rem;
  }
  .daily-summary {
    display: flex;
    border: 1px solid #f2a516;
    border-radius: 8px;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: #fffffe;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  p.department,
  p.goal,
  p.produced,
  p.downtime,
  p.efficiency {
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  .daily-summary {
    margin-left: 30vh;
    margin-right: 30vh;
  }
  p.department,
  p.goal,
  p.produced,
  p.downtime,
  p.efficiency {
    font-size: 1rem;
  }
}
