.container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fdb515;
}

.aliniense {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  background-color: #0a1b2b;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh;
  width: 100%;
}

.logo {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.menu-button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.menu-items {
  font-weight: 500;
  width: 20vw;
  position: absolute;
  top: 8vh;
  left: -25vw;
  padding: 0px;
}
.menu-items.show {
  position: fixed;
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  background-color: rgba(10, 25, 38, 0.95);
  margin-top: 1.65vh;
  left: 0vw;
  right: -100vw;
  transition: 0.4s;
}
.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 16px;
}
.menu-link {
  text-decoration: none;
  color: #fffffe;
}

h5.app-name {
  font-family: Helvetica Neue;
  font-weight: 900;
  font-size: 4rem;
  color: #fffffe;
  font-size: 4vh;
  margin: 0.25rem;
}

@media (min-width: 768px) {
  h5.app-name {
    font-family: Helvetica Neue;
    font-weight: 900;
    font-size: 5rem;
    color: #fffffe;
    font-size: 2.75rem;
    margin: 0.25rem;
  }
  .logo {
    position: relative;
    width: 2.75rem;
    height: 2.75rem;
  }
  .menu-items {
    font-weight: 500;
    width: 20vw;
    position: absolute;
    top: 14vh;
    left: -25vw;
    padding: 0px;
  }
  .menu-button {
    cursor: pointer;
    width: 2.75rem;
    height: 2.75rem;
  }
  .menu-items.show {
    position: fixed;
    z-index: 10;
    margin-top: -2vh;
    transition: 0.4s;
  }
}
@-moz-document url-prefix() {
  .aliniense {
    background-color: whitesmoke;
    justify-content: space-between;
  }
}
