nav {
	padding: 1% 0;
	background-color: #aaa;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
ul.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: right;
	padding-left: 0%;
}
li > a {
	text-decoration: none;
}
li {
	list-style: none;
	padding: 10px;
}
